.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__button {
    background-color: #E4E4E4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion__button:hover {
    background-color: #ccc;
}

.accordion__button .projeto-desc:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true'] .projeto-desc:before{
    transform: rotate(45deg);
}

.options {
    display: flex;
    align-items: center;
}

.options svg {
    font-size: 40px;
    cursor: pointer;
}

.options .add {
    color: green;
}

.options .edit {
    color: #DAA520;
}

.options .delete {
    color: #B22222;
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px
}

.accordion__panel:hover {
    background-color: #eee;
}

.accordion__panel .atividades {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        
    }
}